body {
  background-color: #111;
}

a {
	color: #ccc;
}

a:link {
    text-decoration: none;
}

.hidden {
  display: none;
}

#main-content {
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 6em;
  padding: 6.5em;
  text-align: center;
  border-radius: 1.5em;
  background-color: #222;
}

.login-container {
  width: 50%;
  margin: auto;
  border-radius: 1.5em;
  background-color: #ccc;
}

.login-title {
  padding-top: 1.25em;
  padding-bottom: 3.12em;
  letter-spacing: 0.05em;
}

.login-button {
  padding-bottom: 1.25em;
}

#header {
	position: absolute;
	top: 1.5em;
	right: 1em;
	color: #ccc;
}

#title {
	color: #ff6600;
	font-size: 4em;
	margin-bottom: 1em;
}

.section-title {
	color: #ccc;
	font-size: 1.5em;
}

#friends, #games {
  position: relative;
  margin: 0 auto;
  min-width: 2.5em;
  min-height: 29.69em;
  border-radius: 1.5em;
  background-color: #ccc;
  padding: 0.5em
}

.loading {
	position: absolute;
	top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

#precompare-message {
  position: absolute;
  letter-spacing: 0.05em;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
}

.list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none
  list-style-type:none;
  margin-left: 0;
}

.friend, .game {
  text-align: left;
  margin: 0.625em 0;
  font-size: 0.75em;
}

.friend-img, .game-img {
  margin-right: 0.5em;
}
