
html, body {
    height: 98%;
    background-color: #111;
}

a {
	color: #ccc;
}

a:link {
    text-decoration: none;
}

.hidden {
  display: none;
}

.custom-font {
    font-family: 'Didact Gothic', sans-serif !important;
}

#wrapper {
    min-height: 100%;
}

#main {
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 2em;
  padding: 2.5em 2.5em 9.375em 2.5em;
  text-align: center;
  background-color: #222;
  overflow:auto;
}

.login-container {
  width: 50%;
  margin: auto;
  background-color: #ccc;
  font-size: 1.5em;
}

.login-title {
    padding-top: 1.25em;
    padding-bottom: 2em;
    letter-spacing: 0.05em;
}

.login-button {
    padding-bottom: 1.25em;
}

#header {
	position: absolute;
	top: 1.5em;
	right: 1em;
	color: #ccc;
}

#username {
    color: #ff6600;
}

#title {
	color: #ff6600;
	font-size: 4em;
	margin-bottom: 1em;
}

.section-title {
	color: #ccc;
	font-size: 1.5em;
}

#friends, #games {
    position: relative;
    margin: 0 auto;
    min-width: 2.5em;
    min-height: 29.69em;
    max-height: 29.69em;
    background-color: #ccc;
    padding: 0.5em;
    overflow: auto;
}

#games {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.loading {
	position: absolute;
	top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading-message {
    margin-top: 0.625em;
    text-align: center;
    font-size: 0.7em;
}

#games-message {
    position: absolute;
    letter-spacing: 0.05em;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
}

#friends-search-text {
    margin-top: 0.625em;
}

.list {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.friend, .game {
    list-style-type: none;
    text-align: left;
    margin: 0.625em 0;
    font-size: 0.75em;
    padding: 0.35em;
}

li.friend { 
    cursor: pointer; 
}

li.friend:hover {
    background-color: #444;
    color: #ff6600;
}

li.game {
    cursor: default;
}

.friend-img, .game-img {
    margin-right: 0.5em;
}

#footer {
    position: relative;
    margin-top: -1.1em; /* negative value of footer height */
    height: 1.1em;
    clear:both;
    font-size: 0.75em;
    color: #ccc;
    text-align: center;
}

#footer a, #footer span {
    margin-left: 0.625em;
    margin-right: 0.625em;
}

#footer-name {
    color: #ff6600;
}

/*Footer Opera fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-2047.9375em;/
}
